<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>吹牛</title>
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" type="text/css" href="../static/css/game.css">
</head>
<body>
<div class="container" id="page-index">
    <div id="index-title"></div>
    <div id="loading"></div>
</div>
<div class="container" id="page-game">
    <audio src="../static/audio/14.mp3" preload="auto" id="audio-bg" style="display: none"></audio>
    <div id="cude-wrapper">
        <img src="../static/img/play-state.png" alt="" width="100%" id="state">
        <div class="cube">
            <div class="side side1">
            </div>
            <div class="side side2">
            </div>
            <div class="side side3">
            </div>
            <div class="side side4">
            </div>
            <div class="side side5">
            </div>
            <div class="side side6">
            </div>
            <div class="crash crash1"></div>
            <div class="crash crash2"></div>
        </div>
        <div class="cube cube2">
            <div class="side side1">
            </div>
            <div class="side side2">
            </div>
            <div class="side side3">
            </div>
            <div class="side side4">
            </div>
            <div class="side side5">
            </div>
            <div class="side side6">
            </div>
            <div class="crash crash1"></div>
            <div class="crash crash2"></div>
        </div>
        <div class="cube cube3">
            <div class="side side1">
            </div>
            <div class="side side2">
            </div>
            <div class="side side3">
            </div>
            <div class="side side4">
            </div>
            <div class="side side5">
            </div>
            <div class="side side6">
            </div>
            <div class="crash crash1"></div>
            <div class="crash crash2"></div>
        </div>
        <br>
        <div class="cube cube4">
            <div class="side side1">
            </div>
            <div class="side side2">
            </div>
            <div class="side side3">
            </div>
            <div class="side side4">
            </div>
            <div class="side side5">
            </div>
            <div class="side side6">
            </div>
            <div class="crash crash1"></div>
            <div class="crash crash2"></div>
        </div>
        <div class="cube cube5">
            <div class="side side1">
            </div>
            <div class="side side2">
            </div>
            <div class="side side3">
            </div>
            <div class="side side4">
            </div>
            <div class="side side5">
            </div>
            <div class="side side6">
            </div>
            <div class="crash crash1"></div>
            <div class="crash crash2"></div>
        </div>
    </div>
    <div id="yao-wrapper">
        <img src="../static/img/yao-pic.png" alt="" id="yao-pic" width="22%">
        <br>
        <img src="../static/img/yao-word.png" alt="" id="yao-word" width="42%">
    </div>
    <a href="javascript:;" id="reward"></a>
</div>
<div id="crash">
    <img src="../static/img/0.jpg" alt="" id="crash-img">
</div>
</body>
<script type="text/javascript" src="../static/js/shake.js"></script>
<script type="text/javascript" src="../static/js/dice.js"></script>
</html>
